*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    margin: 0;
    padding: 0;
}
.mainContainer{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(204, 248, 217), #73ecbe, #19668a);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    max-width: 500px;
    background-color: rgb(80, 100, 98);
    border-radius: 10px;

}
.container img{
    width: 200px;
    box-shadow: 2px 16px 10px  rgb(23, 31, 28);
    border-radius: 80px;
    margin-bottom: 270px;
}