*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    margin: 0;
    padding: 0;
}
.mainContainer{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(204, 248, 217), #73ecbe, #19668a);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    max-width: 500px;
    background-color: rgb(21, 29, 28);
    border-radius: 10px;
    margin-bottom: 200px;

}
.container-elements img{
    width: 200px;
    box-shadow: 2px 16px 10px  rgb(52, 120, 129);
    border-radius: 80px;
    
}
.container-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
    padding: 10px 10px 10px;
}

.container-elements h1{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 5px 10px rgb(149, 255, 255);
    font-size: 72px;
    font-weight: lighter;
    letter-spacing: 3px;

}

.searchBar button img{
    width: 20px;
}
.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.searchBar input{
    height: 50px;
    width: 100%;
    border-radius: 5px;
}